// Override Bootstrap variables BEFORE importing Bootstrap
$theme-colors: (
    "primary": #7848dc,
    "secondary": #6c757d,
    "success": #00b074,
    "danger": #e63757,
    "warning": #f6c343,
    "info": #17a2b8,
    "light": #f9fbfd,
    "dark": #12263f,
);

// Override fonts
$font-family-base: 'Inter', sans-serif; // or any font you prefer

.btn-primary {
    background: linear-gradient(90deg, #EAE3FF 0%, #F2F6FF 100%);
    border: none !important;
    color: black !important;
    &:hover {
        background: linear-gradient(90deg, #C4B4FF 0%, #DCE4FF 100%);
    }
}

.navbar {
    background: linear-gradient(90deg, #EAE3FF 0%, #F2F6FF 100%);
}


@import "bootstrap/scss/bootstrap";